annotated-types==auto
anyio==auto
certifi==2023.7.22
charset-normalizer==auto
colorama==auto
contourpy==auto
cycler==auto
distro==auto
EasyProcess==auto
entrypoint2==auto
exceptiongroup==auto
fonttools==auto
h11==auto
httpcore==auto
httpx>=auto
idna==auto
importlib-resources==auto
kiwisolver==auto
matplotlib==auto
MouseInfo==auto
mss==auto
numpy==auto
openai==auto
packaging==auto
Pillow==auto
prompt-toolkit==auto
PyAutoGUI==auto
pydantic==auto
pydantic_core==auto
PyGetWindow==auto
PyMsgBox==auto
pyparsing==auto
pyperclip==auto
PyRect==auto
pyscreenshot==auto
PyScreeze==auto
python3-xlib==auto
python-dateutil==auto
python-dotenv==auto
pytweening==auto
requests==auto
rubicon-objc==auto
six==auto
sniffio==auto
tqdm==auto
typing_extensions==auto
urllib3==auto
wcwidth==auto
zipp==auto
google-generativeai==auto
aiohttp==auto
ultralytics==auto
easyocr==auto
ollama==auto
anthropic==auto
torch==auto+cpu
conda install transformers
sentencepiece==auto
setuptools wheel twine
